.container {
	width: 70%;
	display: flex;
	border-radius: 1vw;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 1px 1px 5px gray;
}

.title {
	color: black;
	font-size: 3vw;
	width: 80%;
	font-weight: bold;
	border-bottom: solid 1px black;
	padding: 1vw 0px 0.5vw 0px;
	font-family: 'Times New Roman', Times, serif;
}

.text_confirmation {
	color: black;
	font-size: 3vw;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;	
}

.input {
	width: 80%;
	margin: 1vw 0px;
	height: 20vw;
	background-color: #EFEFEF;
	border-radius: 1vw;	
	color: #090909;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.5vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container_bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 1vw 5%;
	width: 70%;
	border-top: solid 1px black;
}

.container_buttons {
	display: flex;
	width: 90%;
	padding: 2vw 0vw;
	justify-content: center;
	flex-direction: row;
	gap: 6vw;
}

.label_button {
	color: #000;
	font-family: 'Times New Roman', Times, serif;
	font-size: 2vw;
	font-weight: bold;
	text-transform: uppercase;
}

.buttons {
	background-color: #FD721F;
	border-radius: 0.2vw;
	padding: 0vw 1vw 0vw 1vw;
	border-radius: 0.5vw;
	border: none;
}