
.body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  
    max-width: 100%;
    width: 80rem;
    height: 52rem;
    background-image: url('./images/image\ 11backGroundAgora1.svg');
    background-position: 0 0;   
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    
}
.containerTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 248, 251, 1);
    margin-left: 13.25rem;
    border-radius: 7px 7px 7px 7px;
    width: 23.4375rem;
    height: 5.3125rem;

}

.containerLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18.75rem;
    background-color:  rgba(251, 248, 251, 1);
    border-radius: 7px 7px 7px 7px;
    width: 13.625rem;
    height: 3.4375rem;
    justify-content: center;
    align-items: center;

}
.stylesLink{
    text-decoration: none;
    color: black;
}
.containerButtons{
    display: flex;
    flex-direction: row;
   justify-content: center;
    width: 100%;
}
.containerPrincipal{
    
    padding: 0;
    margin-left: 8.1875rem;
    margin-top: 8rem;
    display:flex;
    flex-direction: column;
    width: 50.875rem;
    height: 40rem;
    gap:2rem;
}
.buttonClass{
    display: flex;
    flex-direction: column;
    background-color:  rgba(251, 248, 251, 1);
    width: 22.3125rem;
    height: 25.125rem;
    border-radius: 7px;
    border-color: #fff;
}
.containerLeftImage{
    width: 21.0625rem;
    height: 19.5625rem;
    background-color: rgba(255, 147, 90, 1);
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerRightImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21.0625rem;
    height: 19.5625rem;
    background: rgba(116, 214, 255, 1);
    

}
.imageStyles{
    width: 16.5625rem;
    height: 16.5625rem;
    flex: 1;
}
.centerTextButton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}