@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&display=swap');


.body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height:100%;
    width: 100%;
}