.body{

    margin: 0;
    padding: 0;
    display: flex;
    max-width: 100%;
    width: 80rem;
    height: 52rem;
    background-image: url('../forgot/images/Logo_Agora\ 2.svg');
    background-position: 0 0;   
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    
    
  }