@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&display=swap');


.agoraContainerLogoElementElipse{
 
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color:  rgba(244, 244, 244, 1);
    
    width:10.8125rem;
    height: 10.6rem;
    margin-top: 1.0625rem;
    margin-left: 2.9875rem;
    border-radius: 50%;
  }
  .agoraLogoSignUp{


    height: 11.3136rem;
    
    width: 7.75rem;
   
    top: 1.25rem;
 
    right: 0.9375rem;
  
 
 }





.rightContainerElementAgora{
    
    display:flex;
    flex-direction: row;
    gap:3rem;
    height: 52rem;
    width:48.875rem;
    right: -1.25rem;
    top:-0.1rem;
    
}
.imageLoginCentral{
    margin-top: 7.85rem;
    margin-left: -3.975rem;
    align-items: center;
    height: 28.625rem;
    width: 38.6875rem;

}
.agoraLoginLine{
    font-weight: 700;
    font-family: 'Arsenal', sans-serif;
    font-size: 2.375rem;
    height: 2.6875rem;
    width: 15.1875rem;
  
  }
  .agoraLoginFirstLine{
    height: 0.05rem;
    width: 11.6875rem;
    border: 1px;
    background-color: rgba(45, 118, 166, 1);
    
  }
  .agoraLoginSecondLine{
    height: 0.05rem;
    width: 13.289375rem;
    border: 1px;
    background-color: rgba(45, 118, 166, 1);
  
  }
  .agoraContainerLines{
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    margin-left: 2.975rem;
  }
  .agoraContentLoginForm{
    display:flex;
    flex-direction: column;
    margin-top:9.3125rem;
    margin-left:5.5rem;
    gap:4.035rem;

  }
.containerFormElements{
    display: flex;
    flex-direction: column;
}
.agoraStylesLink{
    color: black;
    text-decoration: none;
    font-family: 'Tinos', serif;
    font-size: 1.125rem;
  }
  .agoraContainerLinks{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1.475rem;
    padding-left: 6.625rem;
    padding-bottom: 1rem;
   
  }
  .agoraInputCad{
    height: 1.875rem;
    width: 21.5rem;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(237, 237, 237, 1);
    border-color: transparent;
   }
   
   .agoraContainsAllFormElements{
     display: flex;
     flex-direction: column;
     gap:1rem;
     margin-left: 2.5rem;
    
   }
   .tinosStyleNamesInput{
    font-family: 'Tinos', serif;
    font-size: 1.375rem;
  }
  .gapBetweenInputLabel{
    display:flex;
    flex-direction: column;
    gap:0.8rem;
  }
  .agoraContainerCamposLogin{
    display:flex;
    flex-direction: column;
    gap:1.0625rem;
  }
  .agoraContainerButtonForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .agoraColorLetterForm{
    color: rgba(255, 255, 255, 1);
    
  }
  .agoraButtonCancel:disabled{
    background-color: gray;
  }
  .agoraButtonLog:disabled{
    background-color: gray;
  }
  .agoraButtonCancel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1875rem;
    width: 9.5rem;
    border-radius: 15px 15px 15px 15px;
    background-color:rgba(45, 118, 166, 1);
   
   }
   .agoraButtonLog{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 2.1875rem;
   width: 9.5rem;
   border-radius: 15px 15px 15px 15px;
   background-color:rgba(45, 118, 166, 1);
   
   }
   .agoraFormContainerLog{
    display:flex;
    flex-direction: column;
    gap: 1.375rem;
   }
   .agoraContainerBetweenInputsLinks{
     display:flex;
     flex-direction: column;
     gap:2.575rem;
   }
   .containerMainText{
    display: inline-block;
    margin-right: 0.5rem;
   }
   .specialAgoraText{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Titan One', sans-serif;
   }
