@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&family=Tinos:wght@700&display=swap');

.body{

    display:flex;
    flex-direction: row;
    width: 80rem;
    height: 52rem;
    background-color: rgba(48, 103, 148, 1);

    
  
}
.navMainDashboard{
    display:flex;
    flex-direction: column;
    gap: 4rem;
    margin-top:-2rem;
    margin-left: -1rem;

    background-color: rgba(48, 103, 148, 1);
    height: 52rem;
    width:18.875rem;
}
.activitiesDashboard{
    height: 52.25rem;
    width:20.975rem;
    margin-top:-0.255rem;

}
.componentMainDashboard{
    display:flex;
    flex-direction: row;
    height: 52rem;
    width: 65.125rem;
    justify-content: space-between;
    margin-top:-1.125rem;
    background-color:#fff;
    border-radius: 45px 0 0 45px;
    
}
.containerPropsUser{
    height: 52rem;
    width: 41.75rem;
    margin-top:2.875rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.imageGirlUser{
 height: 14.31375rem;
 width: 14.238125rem;
 border-radius: 63px;
}
.containerGirlExample{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:  rgba(224, 241, 255, 1);
  height: 16.03125rem;
  width:16.9375rem;
  border-radius: 50%;
}
.backgroundImageActive{
    height: 52.25rem;
    width:20.975rem;
    margin-top:-0.255rem;
}
.stylesFontCardInfo{
 font-weight: 700;
 font-size:25px;
 font-family: 'Tinos',serif;
}
.textoAdicional{
    font-weight: 100;
    font-size:18px;
    font-family: 'Tinos',serif;
}
.navbarContainer{
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding-left:3rem;
}
.containerBetweenImageLink{
    display:flex;
    flex-direction: row;
    gap:1rem;
}
.styleLinks{
    text-decoration: none;
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size:20px;
    color: rgba(255, 255, 255, 1);

}
.containerLogoAgora{
    margin-top: 2.33375rem;
    margin-left: 1.9375rem;
    background-color: rgba(246, 249, 254, 1);
    
    height: 11.60375rem;
    width: 11.8125rem;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.dimensoesAgoraLogo{
    height: 11.956875rem;
    width: 9.27375rem;
}