.containerProfile{
    display: flex;
    flex-direction: row;
    width: 83.875%;
    height:15.6875rem;
    background-color:rgba(253, 123, 35, 1);
    border-radius: 15px 15px 15px 15px;
    margin-top: 1.6875rem;
    gap:1rem;
}
.containerPrincipal{
    margin-top: 2.125rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 90%;
    gap: 3rem;
    align-items: center;   
  

}
.salasContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 50%;
    align-self: flex-end;
    padding-bottom: calc(9% + 1rem); 
}

.salasContainer::-webkit-scrollbar{
 width:0px;
}
.styles2Image{
    width: 9.6875rem;
    height: 9.733125rem;
    border-radius: 281.5px;
}
.containerImage{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 10.410625rem;
 background-color: rgba(205, 224, 89, 1);
 border-radius: 50%;
}
.containerImageText{
    display: flex;
    flex-direction: column;
    margin-top: 1.339375rem;
    margin-left: 0.539375rem;
    width: 10.305rem;
    height: 11.875rem;
    
    justify-content: center;
}
.stylesH3{
    margin:0;
    padding:0;

}
.containerCardClass{
    width: calc(38.33% - 1rem);
    margin:3.5rem;
    height: 24rem;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;   
    display: flex;
    justify-content: center;
    
}

.containerCardClass:hover{
    box-shadow: 0 2px 4px rgba(0,0,0, 0.8);
}
.cardClass{
    width: 19.1875rem;
    background-color: rgba(255, 255, 255, 1);
    height: 24rem;
    border-radius: .5rem;
    margin-top: 0.5rem;
    position: relative;
    border: .0625rem solid #dadce0;
    cursor: pointer;
}
.cardTop{
    width: 100%;
    background-color: rgba(144, 215, 246, 1);
    position: absolute;
    z-index: 0;
    height: 40%;
    border-radius: .5rem .5rem 0 0;
}
.titleImageContainer{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 22.75%;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    
    

}
.stylesImage{
  width: 4.125rem;
  height: 4.125rem;
}
.dimensionImage{
    width: 5.6875rem;
    height: 5.6875rem;
    border-radius: 46px ;
    z-index: 2;
}
.containerProfessor{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 3;

}
.h2Name{
    z-index: 3;
}
.containerProfessorMessage{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 3;
}
.colorText{
    color: gray;
    padding: 0;
    margin-left: 6rem;
}